@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
}

div.container{
    width: 1200px;
    margin: 0 auto;
}

a{
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: gold;
}

img{
    border: 1px solid gray;
}

footer{
    /*font-size: 1rem;*/
    width: 100%;
    margin: 0;
    padding: 15px 0 15px;
    /*background-color: #333333;*/
    border-top: 4px double gray;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
}

footer div{
    font-size: 1rem;
}

img#pc{
    width: 1200px;
    height: auto;
}

img#phone{
    position: fixed;
    right: -200%;
}

img#test{
    position: fixed;
    right: -5000px;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 40px;
    }

    img#pc{
        position: fixed;
        right: -200%;
    }

    img#phone{
        position: static;
        right: auto;
        width: 95%;
        height: auto;
    }

    footer{
        position: relative;
    }
}